{% extends "base.html.twig" %}

{% block title %}Moods{% endblock %}

{% block body %}
    <div>
        <h1>All Moods</h1>
        <h6>There are currently {{ moods|length }} moods logged...
    </div>
    <div class="row">
        {% for mood in moods %} {#for loop looks in twig #}
            <div class="col-12" style="background-color:#f9f9f8; padding: 20px; margin-top: 20px;">
                <h6 style="float:right">{{ mood.userId.username }}</h6>
                <h5>{{ mood.emoji }} - {{ mood.feeling }}</h5>
                <p> {{ mood.description }}</p>
                {# like button #}
                <div class="likeButton btn btn-warning" style="float:left" data-id="{{ mood.id }}">
                    Like &nbsp;
                    <p style="float:right">{{ mood.likesCount }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="../js/likes.js"></script>
{% endblock %}